<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="MenuSuperior">
    <head>
        <title>Login</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <section layout:fragment="conteudo">
            <div class="panel panel-default" style="margin: 10px">
                <div class="panel-heading">
                    <h1 class="panel-title">Login</h1>
                </div>
                <div class="panel-body">
                    <form action="/login" method="post">
                        <label>Usuário : <input type="text" name="username"/></label>
                        <label>Senha : <input type="password" name="password"/> </label>
                        <button type="submit" class="btn btn-secundary">Login</button>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>
